<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletGerenciarCliente</servlet-name>
        <servlet-class>Servlets.ServletGerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListagemCliente</servlet-name>
        <servlet-class>Servlets.ServletListagemCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerenciarFuncionario</servlet-name>
        <servlet-class>Servlets.ServletGerenciarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListagemFuncionario</servlet-name>
        <servlet-class>Servlets.ServletListagemFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListagemSessao</servlet-name>
        <servlet-class>Servlets.ServletListagemSessao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerenciarSessao</servlet-name>
        <servlet-class>Servlets.ServletGerenciarSessao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerenciarTipoAnuncio</servlet-name>
        <servlet-class>Servlets.ServletGerenciarTipoAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListagemTipoAnuncio</servlet-name>
        <servlet-class>Servlets.ServletListagemTipoAnuncio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGerenciarFuncionario</servlet-name>
        <url-pattern>/ServletGerenciarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListagemFuncionario</servlet-name>
        <url-pattern>/ServletListagemFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListagemSessao</servlet-name>
        <url-pattern>/ServletListagemSessao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerenciarSessao</servlet-name>
        <url-pattern>/ServletGerenciarSessao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerenciarTipoAnuncio</servlet-name>
        <url-pattern>/ServletGerenciarTipoAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListagemTipoAnuncio</servlet-name>
        <url-pattern>/ServletListagemTipoAnuncio</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ServletGerenciarCliente</servlet-name>
        <url-pattern>/ServletGerenciarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListagemCliente</servlet-name>
        <url-pattern>/ServletListagemCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
